################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/eda/wandb/run-20240213_174151-fnjrl7gn/files/code/_session_history.ipynb
*.ipynb
*.gitRepoURL
*.backend
*.entryPoint
*.env
*.runName
*.commit
/mlruns/0/f04dfe4675064b679ed9af641e44fe90/tags/mlflow.source.git.commit
*.ipynb
*.ipynb
*.ipynb
