################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/eda/wandb/run-20240213_174151-fnjrl7gn/files/code/_session_history.ipynb
*.ipynb
*.gitRepoURL
*.backend
*.entryPoint
*.env
*.runName
*.commit
/mlruns/0/f04dfe4675064b679ed9af641e44fe90/tags/mlflow.source.git.commit
*.ipynb
*.ipynb
*.ipynb
/.vs/PythonSettings.json
*.sqlite
/mlruns/0/0352f3af8a0b43758a57fc9c2755457a/tags/mlflow.source.git.repoURL
/mlruns/0/0352f3af8a0b43758a57fc9c2755457a/tags/mlflow.source.name
/mlruns/0/0352f3af8a0b43758a57fc9c2755457a/tags/mlflow.source.type
/mlruns/0/0352f3af8a0b43758a57fc9c2755457a/tags/mlflow.user
/mlruns/0/0e3e53b608004eeeb7e2cf496a6cdacc
/mlruns/0/0edb0c628bf04ab5a130891090d16c29
/mlruns/0/3652c39127fa46388415d838b19a389d
/mlruns/0/b5a6138c37ba4dfe96ad8172db571d13
